body{   
}
/* font family is verdana*/


/*break*/
/* header*/
.header{
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(115, 64, 44);
    height: 50px;
}
.headerlogo{
display: flex;
color: white;
font-size: 20px;
font-family:'Courier New', Courier, monospace;
}
.headerlinks{
    
}
.headerlinks,
ul{
font-family: 'Courier New', Courier, monospace;
display: flex;
color: white;
font-size: 12px;
gap: 15px;
align-items: center;
list-style-type: none;
}
/* break */
/* row 1 */
.row1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(100, 56, 38);
    height: 300px;
    gap: 140px;
}

.row1content{
    
    color: whitesmoke;
    display:flex;
    flex-direction: column;
    width: 300px;
    text-align: left;
    margin: 20px;
     
}
.row1cc{
    display:flex;
    background-color: rgb(82, 45, 31);
    border: 2px solid rgb(82, 45, 31);
    border-radius: 10px;
    margin-left: 160px;
}
.title1{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: -10px;
}
button{
    border-radius: 5px;
    height: 30px;
    width:80px;
    background-color: beige;
    color: rgb(94, 50, 2);
}

.row1image{
    display: flex;
    width: 250px;
    height: 250px;
    margin-right: 300px;
}
/* break */
/* row 2 */

.row2{
    display: flex;
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    height: 240px;
}
.title2{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 52px;

}

.card{
    
    text-align: center;
    max-width: 150px;
}

#cardimg{
    border: 3px solid rgb(100, 56, 38);
    border-radius: 20px;
    height: 100px;
    width: 100px;
    margin: 20px;
}
/* break */
/* row 3 */

.row3{
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;

}
.row3content{
    padding: 10px;
    border: 5px ridge rgb(115, 64, 44);
    border-radius: 10px;
    font-size: 30px;
    max-width: 600px;
}

/* break */
/* row 4 */

.row4{
    background-color:whitesmoke ;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.row4content{
    background-color: rgb(115, 64, 44);
   display: flex;
    
   height:90px;
   width: 600px;
   border: 2px rgb(82, 45, 31);
   border-radius: 5px;
   border-style: ridge;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
  
}

.row4cc{
    color: white;
    display: flex;
    flex-direction: column;
    align-self: baseline;
    padding-top: 25px ;
}

/* break */
/* footer */

.footer{
    color: white;
    background-color: rgb(94, 50, 2);
    display: flex;
    height: 80px;
}

.copyright{
    margin: auto;
}

